In [6]:
import pandas as pd
import requests
url='https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16035_jml_prdks_telur_ayam_buras__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16038_jumlah_produksi_telur_puyuh_berdasarkan_kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16037_jumlah_produksi_telur_itik_berdasarkan_kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16036_jml_prdks_telur_ayam_petelur__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_16879_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_aren__kabu?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16034_jumlah_produksi_susu_sapi_berdasarkan_kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18192_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_pandan__ka?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18222_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_pinang__ka?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18189_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_pala__kabu?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18147_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_kopi_robus?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18041_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_kopi_arabi?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/diskanlut/od_18650_prdks_ikan_tuna_hasil_tangkapan_di_laut__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_17010_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_kayu_manis?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18015_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_kelapa_hib?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18038_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_kina__kabu?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16027_jml_prdks_daging_kelinci__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16020_jml_prdks_daging_ayam_pedaging__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16021_jml_prdks_daging_ayam_petelur__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16023_jumlah_produksi_daging_domba_berdasarkan_kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16028_jml_prdks_daging_kerbau__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18151_prdks_tnmn_thnan_perkebunan_rakyat_komoditi_lada__kabu?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/disbun-2-2/od_18592_prdks_tnmn_thnan_perkebunan_besar_negara_komoditi_kela?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16075_produksi_kulit_sapi_potong_berdasarkan_kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16026_jml_prdks_daging_kambing__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16025_jml_prdks_daging_itik_manila__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16031_jumlah_produksi_daging_puyuh_berdasarkan_kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16019_jml_prdks_daging_ayam_buras__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16024_perkembangan_prdks_daging_itik__kabupatenkota?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/dkpp/od_16069_produksi_daging_sapi_berdasarkan_kabupatenkota?limit=10000'

url=url.split(',')

import pandas as pd
import requests
k=dict()
for i,j in enumerate(url):
    response=requests.get(j)
    o=[]
    for i,z in enumerate(response.json()['data']):
        if response.json()['data'][i]['tahun']==2020:
                         o.append(z)
    k[j]=o

In [7]:
namabaru=['telur_ayam_buras','telur_puyuh','telur_itik','telur_ayam_petelur','aren','susu_sapi','pandan','pinang','pala','kopi_robusta','kopi_arabica','ikan_tuna','kayu_manis','kelapa_hibrida','kina','daging_kelinci','daging_ayam_pedaging','daging_ayam_petelur','daging_domba','daging_kerbau','lada','kelapa_sawit','kulit_sapi','daging_kambing','daging_itik_manila','daging_puyuh','daging_ayam_buras','daging_itik','daging_sapi']
for i,j in zip(namabaru, list(k.keys())):
        k[i]=pd.DataFrame(k[j])
        del k[j]

In [8]:
umkm_url=('https://satudata.jabarprov.go.id/api-backend/bigdata/diskuk/od_17371_jml_ush_mikro_kecil_menengah_umkm__kabupatenkota_kateg?limit=10000,https://satudata.jabarprov.go.id/api-backend/bigdata/diskuk/od_17367_jml_ush_mikro_kecil_menengah_umkm_binaan__jenis_ush?limit=10000')
umkm_url=umkm_url.split(',')

In [9]:
umkm=dict()
for i in umkm_url:
    response=requests.get(i)
    o=[]
    for l,z in enumerate(response.json()['data']):
        o.append(z)
    umkm[i[-60:-25]]=o

In [11]:
umkm_bener=['umkm_non','umkm_binaan']
for i,j in zip(umkm.keys(),umkm_bener):
    umkm[j]=umkm.pop(i)
    umkm[j]=pd.DataFrame(umkm[j])

In [12]:
umkm_non=umkm['umkm_non'][(umkm['umkm_non']['tahun']==2020)].iloc[:,4:7]

umkm_binaan=umkm['umkm_binaan'][umkm['umkm_binaan']['tahun']==2020].iloc[:,4:7]

umkm_non=umkm_non.iloc[[j for j,i in enumerate(umkm_non['kategori_usaha']) if i in ['MAKANAN',"MINUMAN","OBAT-OBATAN",'KULINER']],:]

umkm_binaan=umkm_binaan.iloc[[j for j,i in enumerate(umkm_binaan['jenis_usaha']) if i in ['AGRIBISNIS','MAKANAN',"MINUMAN","OBAT-OBATAN",'KULINER']],:]

umkm_binaan['kategori_usaha']=umkm_binaan['jenis_usaha']

umkm_binaan=umkm_binaan.drop(['jenis_usaha'],axis=1)

umkm=umkm_non.append(umkm_binaan).reset_index(drop=True)

temp=umkm.groupby(by=['kategori_usaha','nama_kabupaten_kota']).sum().unstack(level=0)

temp.columns=['AGRIBISNIS','KULINER','MAKANAN','MINUMAN','OBAT-OBATAN']

umkm=temp.reset_index()

/tmp/ipykernel_7097/797899073.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  umkm=umkm_non.append(umkm_binaan).reset_index(drop=True)

In [13]:
for i in namabaru:
    umkm=umkm.merge(k[i].iloc[:,4:6], on='nama_kabupaten_kota')
    umkm.rename(columns={umkm.columns[-1]:i},inplace=True)

In [14]:
for i in namabaru:
    if k[i]['satuan'][0]!='TON':
        print(i,k[i]['satuan'][0])

kulit_sapi LEMBAR
daging_sapi KILOGRAM

In [15]:
umkm['kulit_sapi']=umkm['kulit_sapi']*20/1000

In [16]:
umkm['daging_sapi']=umkm['daging_sapi']/1000

In [18]:
umkm.head()

,nama_kabupaten_kota,AGRIBISNIS,KULINER,MAKANAN,MINUMAN,OBAT-OBATAN,telur_ayam_buras,telur_puyuh,telur_itik,telur_ayam_petelur,...,daging_kerbau,lada,kelapa_sawit,kulit_sapi,daging_kambing,daging_itik_manila,daging_puyuh,daging_ayam_buras,daging_itik,daging_sapi
0,KABUPATEN BANDUNG,0,160772,117700,21820,0,4228,55,1986,7319,...,58,0,0,575.84,13,28,6,2024,247,7495.847
1,KABUPATEN BEKASI,5,105182,76941,14272,0,352,0,1342,2832,...,17,0,0,0.00,282,0,0,643,184,1680.492
2,KABUPATEN BOGOR,11,170682,124905,23166,0,4233,142,836,231900,...,243,1,43183,0.00,371,104,15,2027,104,9908.119
3,KABUPATEN CIAMIS,0,63635,46591,8634,0,3218,108,1100,43209,...,62,56,0,104.78,173,0,12,1541,137,1219.172
4,KABUPATEN CIANJUR,16,114126,83553,15504,4,10406,52,4968,67298,...,108,16,10414,169.62,72,0,6,4983,617,2229.888

In [24]:
umkm_non

     nama_kabupaten_kota kategori_usaha  jumlah_umkm
816      KABUPATEN BOGOR        KULINER       170630
817      KABUPATEN BOGOR        MAKANAN       124801
818      KABUPATEN BOGOR        MINUMAN        23152
826   KABUPATEN SUKABUMI        KULINER       122384
827   KABUPATEN SUKABUMI        MAKANAN        89513
...                  ...            ...          ...
1067    KOTA TASIKMALAYA        MAKANAN        30319
1068    KOTA TASIKMALAYA        MINUMAN         5625
1076         KOTA BANJAR        KULINER        11782
1077         KOTA BANJAR        MAKANAN         8617
1078         KOTA BANJAR        MINUMAN         1599

[81 rows x 3 columns]